body {
	margin: 0px;
	padding: 0px;
	background-image: url("../imgs/noise.png");
	background-attachment: fixed;
	/* background-position: 50% 50%; */
	background-color: #002700;
}

#mainContainer{
	width: 100%;
	height: 100%;
	background-color: #ccc;
}

#levelPicture{
	width: 80%;
	height: 80%;
	background-color: #ddd;
	border: 1px solid red;
	position: absolute;
	overflow: hidden;
	opacity: 0.5;
	display: none;
}

.piece{
	display: block;	
	position: absolute;
	color: #555;
    font-size: 10px;
    background-image: url("../imgs/clasic-set-of-pieces.png");
    background-size: 100% auto;
}

.piece:hover{
	/* box-shadow: 1px 1px 3px rgba(255, 0, 0, 0.8);
	border-color: red; */
	background-position: 0 88.9%;
}

/* splash screen styles */

#splashScreen{
	width: 100%;
	height: 100%;
	background-color: #000;

    position: absolute;
    display: none;
    z-index: 99;
}

/*
#loadingLayer{
	width: 100%;
	height: 100%;
	background-color: #000;	
    position: absolute;
    z-index: 100;
    opacity: 0.7;
}
*/

.mov { position: absolute; left: 10px; padding: 50px; background: blue; color: white }

#timeMeter{
    background: none repeat scroll 0 0 #CCCCCC;
    border: 2px solid #FFFFFF;
    color: #CCCCCC;
    display: block;
    height: 400px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 30px;
    border-radius: 30px;
}

#time{ 
    background: none repeat scroll 0 0 #FF0000;
    bottom: 0;
    display: block;
    height: 356px;
    left: 0;
    position: absolute;
    width: 30px;
}