body {
	margin: 0px;
	padding: 0px;
	background-image: url("debug-bg.png");
	background-attachment: fixed;
	/* background-position: 50% 50%; */
}

#mainContainer{
	width: 100%;
	height: 100%;
	background-color: #ccc;
}

#levelPicture{
	width: 80%;
	height: 80%;
	background-color: #ddd;
	border: 1px solid red;
	position: absolute;
	overflow: hidden;
	opacity: 0.5;
}

.ficha{
	/*
	width: 80px;
	height: 100px;
	*/
	background-color: #eee;
	display: block;	

	border-top: 1px solid #fff;
	border-right: 2px solid #CCCCCC;
	//border-bottom: 25px solid #ddd;
	border-left: 1px solid #ddd;

	box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
	border-radius: 3px;

	position: absolute;

	color: #777777;
    font-size: 10px;
}

.mini-info{
	font-family: helvetica;
	font-size: 9px;
	display: none;
}

.ficha:hover{
	box-shadow: 1px 1px 3px rgba(255, 0, 0, 0.8);
	border-color: red;
}


/* splash screen styles */

#splashScreen{
	width: 100%;
	height: 100%;
	background-color: #000;

    position: absolute;
    display: none;
    z-index: 99;
}

/*
#loadingLayer{
	width: 100%;
	height: 100%;
	background-color: #000;	

    position: absolute;
    z-index: 100;
    opacity: 0.7;
}
*/